@font-face {
    font-family: cafefree;
    src: url(../fonts/cafefree.ttf);
}

@font-face {
    font-family: segoe;
    src: url(../fonts/segoe.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------------------------General Structure------------------------------------------*/
.main-page{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header{
    min-height: 220px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sliderWrap{
    display: none;
    flex-grow: 1;
}

.logo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__right-side{
    height: 100%;
    padding: 20px 0;
}

/*------------------------------------------- Logo ---------------------------------------------------*/

.logo-img{
    margin-left: 65px;
    transform: scale(0.8, 1);
    width: 205px;
    height: 115px;
}

.logo-title{
    font-size: 22px;
}

/*------------------------------------------- Right Side ---------------------------------------------*/

/*------------------------ Language --------------------------*/
.phone-language{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.phone{
    font-size: 26px;
    font-weight: bold;
    margin-right: 35px;
}

.language-block{
    display: flex;
}

.language-img{
    width: 45px;
    height: 40px;
}

.current-language{
    margin: 2px 0 0 5px;
    font-size: 22px;
    cursor: pointer;
}

/*------------------------ Social --------------------------*/
.social-networks{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 70px;
}

.social-networks img{
    margin: 20px 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/*------------------------ Nav Menu --------------------------*/
.nav-menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 22px;
}

.nav-menu a:last-child{
    margin-right: 75px;
}


